.boxUno{
    height: 200px;
    width: 200px;
    background-color: blue ;
    margin: 5px;
}

.boxDos{
    height: 200px;
    width: 200px;
    background-color: red ;
    margin: 5px;
}

.boxTres{
    height: 200px;
    width: 200px;
    background-color: green ;
    margin: 5px;
}

.boxCuatro{
    height: 200px;
    width: 200px;
    background-color: yellow ;
    margin: 5px;
}

.key{
    height: 200px;
    width: 200px;
    background-color: white ;
    border: 1px solid black;
    
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    align-items: center;
    justify-content: centera;


}